<?xml version="1.0" encoding="utf-8"?>
<config>

    <fieldset
            name="default"
            label="COM_TRANSLATOR_DEFAULT_CONFIGURATION">

        <field
                name="show_sys"
                type="radio"
                label="COM_TRANSLATOR_SHOW_SYS_FILES"
                class="btn-group btn-group-yesno"
                default="0"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
                name="show_self"
                type="radio"
                label="COM_TRANSLATOR_SHOW_SELF_FILES"
                class="btn-group btn-group-yesno"
                default="0"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

    </fieldset>

    <fieldset
            name="google"
            label="COM_TRANSLATOR_GOOGLE_TRANSLATE_CONFIGURATION">

        <field
                name="google_attempts"
                type="numeric"
                label="COM_TRANSLATOR_GOOGLE_ATTEMPTS_LABEL"
                steep="1"
                default="5"
                min="1"
                max="10"
        />

    </fieldset>

    <fieldset
            name="microsoft"
            label="COM_TRANSLATOR_MICROSOFT_TRANSLATOR_CONFIGURATION">

        <field
                name="microsoft_api_key"
                type="text"
                label="COM_TRANSLATOR_MICROSOFT_API_KEY_LABEL"
                default=""
        />

        <field
                name="microsoft_end_point"
                type="url"
                label="COM_TRANSLATOR_MICROSOFT_END_POINT_LABEL"
                default="https://api.cognitive.microsoft.com/"
        />

    </fieldset>

</config>
